


.overlay{
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;

    left: 0;
    opacity: 0;
    background: rgb(255,255,255);
background: radial-gradient(circle, transparent 20%, rgba(255,128,176,1) 100%);   cursor: pointer;
}
.content{
    position: absolute !important;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;

}
.contain{
    position: relative;
}
.contain:hover .overlay{
    display: block !important;

    opacity: 1 !important;
}
.launch{
    color: #E30B5D !important;
}