.service-box{
    margin-bottom: 5rem !important;
}
.card-header{
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif!important;
    color: #000000;
    word-spacing: 2px !important;
}
.text-col{
    color: #E30B5D;
}
.card-text{
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif!important;
    color: #000000;
    word-spacing: 2px !important;
}
.card-box-in{
    padding: 0.5rem !important;
}
.codeof{
    font-size: 75px !important;
    color: #E30B5D !important;
}
@media screen and (min-width:599px) and (max-width:768px) {
    .card-box-backend{
        padding: 8.3px !important;
    }
    .backend-text{
        font-size: 12.3px !important;
    }
}
.card-service{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}
.image-boxe{
    display: flex;
    flex-direction: row;
}
.gfg{
    color: green;
    font-size: 5rem;
    line-height: 1.0375rem;
    margin-right: 3rem;
    margin-left: 5rem;
}
.leetcode{
    color: orange;
    font-size: 5rem;
    line-height: 1.0375rem;

}
.profile-grid{
    justify-content: flex-start !important;
  
}
.defaultCSS{
all: unset;
cursor: pointer;
}